.main{
    display: flex;
    justify-content: left;
    gap: 400px;
    margin-left: 100px;
    background-color: transparent; 

}

.flex1 {
    background-color: transparent; 
    margin-left: 100px;
}

